.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

h2 {
  display: flex;
  background-color: pink;
  align-items: center;
  border-radius: 6px;
  padding: 10px 8px;
}

.feedContainer {
  display: flex;
  flex-direction: row;
  max-width: 800px;
  width: 100%;
}

.postForm {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: auto;
  background-color: #c8c8c8;
  padding: 10px 8px;
  border-radius: 6px;
  gap: 5px;
}

h2:hover {
  font-size: xx-large;
}
