.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  box-sizing: border-box;
}

h2 {
  display: flex;
  background-color: rgb(240, 83, 187);
  align-items: center;
  border-radius: 6px;
  padding: 10px 8px;
}

.feedContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  padding: 0;
}

.postForm {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: auto;
  background-color: #c8c8c8;
  padding: 10px 8px;
  border-radius: 6px;
  gap: 5px;
}

h2:hover {
  cursor: default;
  font-size: xx-large;
  background-color: pink;
}
