.test {
  font-family: sans-serif;
}

button {
  background-color: #1ac940;
  padding: 10px;
  border-radius: 10px;
  margin: 25px;
  width: 500px;
  height: 200px;
  box-shadow: 0 0 10px 5px burlywood;
  font-size: 400%;
}

h1 {
  color: rgb(0, 0, 34);
  text-shadow: 2px 2px whitesmoke;
}

p {
  font-size: 50px;
}
