.test {
  font-family: sans-serif;
  height: 50px;
  width: auto;
}

h1 {
  color: rgb(0, 0, 34);
  text-shadow: 2px 2px whitesmoke;
  font-size: 40px;
}

h1:hover {
  color: white;
  text-shadow: 0 0 0 black;
  cursor: cell;
}

p {
  font-size: 30px;
}

.star:hover {
  color: transparent;
  text-shadow: 0 0 0 orange;
  cursor: grabbing;
}
