.post {
  width: 20%;
  height: auto;
  padding: 10px 14px;
  margin: 10px 0;
  box-sizing: border-box;
  box-shadow: 0 0 10px 5px rgb(0 0 0 / 0.1);
  display: inline-block;
  background-color: rgb(243, 183, 183);
  border-radius: 10px;
}

/*.post > p {
  margin-left: 50px;
}*/

.post:hover {
  color: transparent;
  background-color: transparent;
}

.onlyClick {
  color: white;
}

.onlyClick:hover {
  color: deeppink;
}
